# Ignore node_modules (rebuild inside Docker)
node_modules

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Ignore local environment files
.env.local
.env.*.local

# Ignore Vite cache
.vite

# Ignore test coverage and results
coverage
*.lcov

# Ignore build output (as it will be generated inside Docker)
dist

# Ignore MacOS system files
.DS_Store

# Ignore editor config files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore temporary files
*.swp
*.lock
*.log
*.tmp

# Ignore Docker-related files that shouldn't be inside the image
Dockerfile
.dockerignore
