.sidebarStyle {
    overflow-y: auto !important;
    height: 100vh !important;
    position: fixed !important;
    left: 0 !important;
    transition: all 0.3s ease !important;
}

.menuStyle {
    transition: all 0.25s ease !important;
}